@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply text-zinc-900;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@layer components {
  .nav {
    color: inherit;
  }

  .nav:hover {
    color: inherit;
  }

  .divider-zinc-500 {
    @apply before:bg-zinc-400 after:bg-zinc-400;
  }
}